__pycache__
.venv
token2.txt
test2.py
token2.py
TestFiles
newFeatures.txt
frontlinesPictures
pictures
carbPhoto.jpg
cuteSheep.png
karakul.png
resized_image.png
karakul.png
rsz_1karakul.png
rsz_karakul.png
resized_image.png
testiii.py
tempCodeRunnerFile.py

